@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div style="width: 250px" class="highlight">
    @*Contxt Item -> @Model.PageItem *@
    @*Page ItemName: @Model.PageItem.Name
        <br />
        Item Name: @Model.Item.Name / @Model.Rendering.Item.Name
        <br />
        Parameters: @Model.Rendering.Parameters["Colour"]*@
    @Html.Sitecore().Field("Image", Model.Item, new { mw=300, mh=400, hspace=10, vspace=10, @class = "car class" })
    <p><strong>Make:</strong> @Html.Sitecore().Field("Make", Model.Item)</p>
    <p><strong>Model:</strong> @Html.Sitecore().Field("Model", Model.Item)</p>
    <p>@Html.Sitecore().Field("Website", Model.Item, new { text = "Read more about this car" })</p>
    <p>@Html.Sitecore().Field("__Created", Model.Item, new { format = "dd/MM/yyyy" })</p>

</div>